<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>name</key>
			<string>Brandywine Commons</string>
			<key>image</key>
			<string>Brandywine.jpg</string>
			<key>hours</key>
			<string>Monday - Thursday: 10:30 am - 12:00 am
Friday: 10:30 am - 9:00 pm
Saturday - Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>557 Brandywine Rd 
Irvine, CA 92617</string>
			<key>phonenumber</key>
			<string>(949) 824-8631</string>
			<key>email</key>
			<string>giardini-mark@aramark.com</string>
			<key>description</key>
			<string>Brandywine Commons is one of our three all-you-can-eat dining halls, located off of Ring Road by Middle Earth and Social Science Tower (SST), featuring made-to-order burgers and deli sandwiches, home-style favorites, shakes, seasonal selections and student favorites!</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pippin Commons</string>
			<key>image</key>
			<string>Pippin.jpg</string>
			<key>hours</key>
			<string>Monday - Friday
Breakfast: 7:15 am - 10:00 am
Continental: 10:00 am - 11:00 am
Lunch: 11:00 am - 2:00 pm 
Light Lunch 2:00 pm 4:30 pm 
Dinner: 4:30 pm - 8:00 pm

Saturday &amp; Sunday
Continental: 9:30 am - 11:00 am
Brunch: 11:00 am - 3:00 pm
Dinner: 5:00 pm - 8:00 pm</string>
			<key>address</key>
			<string>Pippin Commons East Peltason Drive 
Irvine, CA 92617</string>
			<key>phonenumber</key>
			<string>(949) 824-2523</string>
			<key>email</key>
			<string>gillera-mark@aramark.com</string>
			<key>description</key>
			<string>Pippin Commons is one of three of our all-you-can-eat dining halls, featuring full service breakfast, lunch and dinner with international entrées, grill, deli, salad bar and more!</string>
		</dict>
		<dict>
			<key>name</key>
			<string>20/20 Cafe</string>
			<key>image</key>
			<string>20_20Cafe</string>
			<key>hours</key>
			<string>December 12th - December 18th
Mon-Thu: 8am-4pm
Fri: 8am-3pm
Sat &amp; Sun: Closed

December 19th - January 2nd
CLOSED

January 3rd - January 8th
Mon-Thu: 8am-4pm
Fri: 8am-3pm
Sat &amp; Sun: Closed

Fall Quarter 2016
Monday - Friday: 7:30 am - 4:00 pm
Saturday &amp; Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>850 Health Sciences Rd, 
Irvine, CA 91710</string>
			<key>phonenumber</key>
			<string>(949) 824-1911</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Located inside the Hebert Gavin Eye Institute, the 20/20 Cafe is a We Proudly Serve Starbucks that offers a variety of beverages and pastries</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Au Bon Pain</string>
			<key>image</key>
			<string>AuBonPain</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - December 18th
Mon-Fri: 9am-3pm
Sat &amp; Sun: Closed

December 19th - January 2nd
CLOSED

January 3rd - January 8th
Mon-Fri: 9am-3pm
Sat &amp; Sun: Closed

Fall Quarter 2016
Monday - Thursday: 7:30 am - 9:00 pm
Friday: 7:30 am - 5:00 pm
Saturday: 7:30 am - 3:00 pm
Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>Paul Merage School of Business 
Irvine, CA 92697</string>
			<key>phonenumber</key>
			<string>(949) 824-0492</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Located in the Paul Merage School of Business, Au Bon Pain is a fast-casual bakery and café chain specializing in breakfast, hot and cold sandwiches, wraps, salads, soups and pastries. Whether you are looking to eat better or treat yourself, we&apos;ve got a seasonal menu of craveable options.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BC&apos;s Cavern</string>
			<key>image</key>
			<string>BCsCavern</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - January 8th
CLOSED

Fall Quarter 2016
Monday - Thursday: 7:30 am - 8:00 pm
Friday: 7:30 am - 5:00 pm
Saturday &amp; Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>500 Inner Ring Rd 
Irvine , CA 92697</string>
			<key>phonenumber</key>
			<string>(949) 824-2195</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Located in between Steinhaus Hall and Howard Schneiderman Lecture Hall (HSLH), BC&apos;s Cavern overlooks the beautiful Aldrich Park and is a perfect place enjoy a delicious hot meal while studying or grab a fresh sandwich from Subway while on your way to class</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bridge Cafe</string>
			<key>image</key>
			<string>BridgeCafe</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - December 18th
Mon-Fri: 7:30am-3pm
Sat &amp; Sun: Closed

December 19th - January 2nd
CLOSED

January 3rd - January 8th
Mon-Fri: 7:30am-3pm
Sat &amp; Sun: Closed

Fall Quarter 2016
Monday - Thursday: 7:30 am - 6:30 pm
Friday: 7:30 am - 4:00 pm
Saturday &amp; Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks</string>
			<key>address</key>
			<string>510 East Peltason Drive 
Irvine, CA 92617</string>
			<key>phonenumber</key>
			<string>(949) 824-6285</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Located just across East Peltason from Middle Earth Housing, Bridge Café is a We Proudly Serve Starbucks that offers a variety of beverages and pastries. This coffee house is a must-visit for any student on the East side of Ring Road near Social Ecology or Engineering.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C3 Express</string>
			<key>image</key>
			<string>C3Express</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - January 8th
CLOSED

Fall Quarter 2016
Monday - Thursday: 7:30 am - 9:00 pm
Friday: 7:30 am - 5:00 pm
Saturday &amp; Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>UCI Social Science Plaza A 
Irvine , CA 92617</string>
			<key>phonenumber</key>
			<string>(949) 824-9898</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Stop by your one-stop-shop for all things necessary for collegiate success! Whether it be a grab-n-go item between classes or health and beauty essentials, the C3 store has it all. Enjoy convenience to the 3rd power!</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cyber A Cafe</string>
			<key>image</key>
			<string>CyberA</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - January 8th
CLOSED

Fall Quarter 2016
Monday - Thursday: 7:30 am - 7:00 pm
Friday: 7:30 am - 4:00 pm
Saturday &amp; Sunday: Closed</string>
			<key>address</key>
			<string>Cyber A Cafe 
Irvine, CA 92697</string>
			<key>phonenumber</key>
			<string>(949) 824-9848</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Cyber A Café proudly serves Java City ecoGrounds beverages, an assortment of tasty pastries and a number of hearty and healthy food options, such as sandwiches and wraps. Cyber A Café sits cozily in the heart of the School of the Arts.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Espress Yourself</string>
			<key>image</key>
			<string>EspressYourself</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - December 18th
Mon-Fri: 8am-3pm
Sat &amp; Sun: Closed

December 19th - January 2nd
CLOSED

January 3rd - January 8th
Mon-Fri: 8am-3pm
Sat &amp; Sun: Closed

Fall Quarter 2016
Monday - Thursday: 7:30 am - 5:00 pm
Friday: 7:30 am - 4:00 pm
Saturday &amp; Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>3200 Education Bldg 
Irvine , CA 92697</string>
			<key>phonenumber</key>
			<string>(949) 824-2523</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Espress Yourself, nestled in-between the School of Law and Education, offers espresso-crafted Java city beverages, fresh pastries and grab and go snacks.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gottschalk P.O.D.</string>
			<key>image</key>
			<string>Gottschalk</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - December 22nd
Mon-Fri: 8am-4pm
Sat &amp; Sun: Closed

December 23rd - January 2nd
CLOSED

January 3rd - January 8th
Mon-Fri: 8am-4pm
Sat &amp; Sun: Closed

Fall Quarter 2016
Monday - Friday: 8:00 am - 4:00 pm
Saturday &amp; Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>1 Medical Plaza Dr 
Irvine , CA 92617</string>
			<key>phonenumber</key>
			<string>(949) 824-2523</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Located in the Gottschalk Medical Plaza, P.O.D. Express serves freshly brewed coffee and light grab &apos;n go snacks.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Java City Kiosk</string>
			<key>image</key>
			<string>JavaCity</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - December 18th
Mon-Fri: 7:30am-3pm
Sat &amp; Sun: Closed

December 19th - January 2nd
CLOSED

January 3rd - January 8th
Mon-Fri: 7:30am-3pm
Sat &amp; Sun: Closed

Fall Quarter 2016
Monday - Thursday: 7:30 am - 9:00 pm
Friday: 7:30 am - 5:00 pm
Saturday &amp; Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>2004 Los Trancos Dr 
Irvine, CA 92617</string>
			<key>phonenumber</key>
			<string>(949) 824-5779</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Java City is committed to coffee excellence, with some of the freshest coffees on the planet, an ample espresso bar menu, and approachable Javanistas ready to share their expertise.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Med Ed Cafe</string>
			<key>image</key>
			<string>MedEdCafe</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - December 18th
Mon-Fri: 8am-5pm
Sat &amp; Sun: Closed

December 19th - December 22nd
Mon-Fri: 8am-3pm

December 23rd - January 2nd
CLOSED

January 3rd - January 8th
Mon-Fri: 8am-5pm
Sat &amp; Sun: Closed

Fall Quarter 2016
Monday - Friday: 7:30 am - 5:00 pm
Saturday &amp; Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>1200 A Medical Education Bldg 
Irvine, CA 92697</string>
			<key>phonenumber</key>
			<string>(949) 824-5967</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Med Ed Café proudly serves Starbucks coffee. Create your own hand-crafted beverage or try one of our recommendations! Med Ed Café also offers an assortment of pastries and grab &apos;n go items to satisfy your cravings.
</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Taza</string>
			<key>image</key>
			<string>Taza</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - January 8th
CLOSED

Fall Quarter 2016
Monday - Thursday: 7:00 am - 12:00 am
Friday: 7:00 am - 8:00 pm
Saturday &amp; Sunday: 9:30 am - 8:00 pm

*Hours of operation are subject to change for observed holidays and breaks</string>
			<key>address</key>
			<string>4001 Mesa Road 
Irvine, CA 92617</string>
			<key>phonenumber</key>
			<string>(949) 824-2190</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Taza, located at the brand new Anteatery in Mesa Court, offers up the best of Java City&apos;s ecoGrounds coffee and espresso beverages and delicious, warm pastries. A perfect place to visit before or after an event at the Bren or class near Humanities or the Arts. </string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Anteatery</string>
			<key>image</key>
			<string>Anteatery</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - January 8th
CLOSED

Fall 2016
Monday - Friday
Breakfast: 7:15 am - 10:00 am
Continental: 10:00 am - 11:00 am
Lunch: 11:00 am - 2:00 pm
Light Lunch: 2:00 pm - 4:30 pm
Dinner: 4:30 pm - 8:00 pm

Monday - Thursday
Late Night: 8:00 pm - 12:00 am

Saturday &amp; Sunday
Continental: 9:30 am - 11:00 am
Brunch: 11:00 am - 3:00 pm
Dinner: 5:00 pm - 8:00 pm

*Hours of operation are subject to change for observed holidays and breaks</string>
			<key>address</key>
			<string>4001 Mesa Rd. 
Irvine, CA 92617</string>
			<key>phonenumber</key>
			<string>(949) 824-2525</string>
			<key>email</key>
			<string>poonpipat-joe@aramark.com</string>
			<key>description</key>
			<string>The Anteatery is one of three all-you-can-eat dining halls on campus featuring Mongolian grill, fresh salad &amp; fruit from the Farmer&apos;s Market, stone oven pizza along with favorites such as the grill, ice cream bar and fresh baked pastries</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Phoenix Food Court</string>
			<key>image</key>
			<string>PheonixFoodCt</string>
			<key>hours</key>
			<string>WINTER BREAK HOURS
December 12th - December 18th
Mon-Fri: 9am-3pm
Sat &amp; Sun: Closed

December 19th - January 8th
CLOSED

Fall Quarter 2016
Monday - Thursday: 7:30 am - 8:00 pm
Friday: 7:30 am - 5:00 pm
Saturday &amp; Sunday: Closed

*Hours of operation are subject to change for observed holidays and breaks.</string>
			<key>address</key>
			<string>Phoenix Food Court 
Irvine, CA 92697</string>
			<key>phonenumber</key>
			<string>(949) 824-7190</string>
			<key>email</key>
			<string>Kuehnert-Kelly@aramark.com</string>
			<key>description</key>
			<string>Phoenix Food Court is home to a variety of places to eat, including Greens to Go, Tortilla Fresca, Grille Works and Einstein Bros. Bagels. Phoenix Food Court, located next to Social Science Tower and Inner Ring Road, boasts a great view of Aldrich Park to take in the scenery as you enjoy your meal.</string>
		</dict>
	</array>
</dict>
</plist>
